body {
    background-color: hsl(351, 60%, 86%);
    color:rgb(57, 57, 57);
    margin: auto;
}
header {
    color: black;
    font-size: 20 px;
    text-align: center;
    margin: 20px 0;
}
section.jumbotron {
    text-align:center;
    color: bisque;
}
article.Selena {
    text-align: center;
    border-image: auto;
}
a {
    color: azure;
}
h1 {
    font-size: xx-large;
    text-align: center;
    color: darkmagenta;
}
h2 {
    font-size: x-large;
    color: black;
}
h3 {
    font-size: large;
}
p, ul {
    font-size: medium;
    color: black;
}
article.albums {
    text-align: center;
    margin-top,bottom:15px;
    margin-left: 30px;
}
p ~ ul {
    background-image: url(//source.unsplash.com/1280x720/?white?5);
    background-position: center;
    }