body {
    background-color: hsl(351, 60%, 86%);
    color:rgb(57, 57, 57);
}
header {
    color: black;
    font-size: large;
}
h1 {
    font-size: xx-large;
    text-align: center;
    color: darkmagenta;
}
h2 {
    font-size: x-large;
    color: black;
}
h3 {
    font-size: large;
}
p {
    font-size: medium;
    text: indent 10px;
}
footer {
    font-size: smaller;
}