body {
    background-color: hsl(351, 60%, 86%);
    color:rgb(57, 57, 57);
}
header {
    color: black;
    font-size: large;
}
h1 {
    font-size: x-large;
    text-align: left;
    color: darkmagenta;
}
h2 {
    font-size: large;
    color: black;
}
p {
    font-size: medium;
    text: indent 2px;
}